.envrc
.direnv/
.github/
.husky/
.vscode/
.vscode-test-web/
.yarn/
.yarnrc.yml

assets/
schemas/
themes/.flag

*.vsix
**/*.ts
**/*.mts
**/*.nix
tsconfig.json

.editorconfig
.eslintcache
.eslintignore
.eslintrc.js
.gitignore
.yarn-error.log
