on:
  push:
    branches: [main]
    paths:
      - "packages/catppuccin-vsc/src/theme/**/*.ts"
      - "packages/catppuccin-vsc-storybook/**/*"
  pull_request:
    paths:
      - "packages/catppuccin-vsc/src/theme/**/*.ts"
      - "packages/catppuccin-vsc-storybook/**/*"

name: "Chromatic"

jobs:
  chromatic:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0
      - run: corepack enable
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
        with:
          node-version: 18
          cache: yarn
      - run: yarn install --immutable

      - name: Publish to Chromatic
        uses: chromaui/action@fdbe7756d4dbf493e2fbb822df73be7accd07e1c # v11
        with:
          buildScriptName: storybook:build
          exitOnceUploaded: true
          projectToken: chpt_e3cba49738d7554
          workingDir: packages/catppuccin-vsc-storybook
