on:
  push:
    branches: [main]
    paths:
      - "packages/catppuccin-vsc/src/theme/**/*.ts"
      - "packages/catppuccin-vsc-storybook/**/*"
  pull_request:
    paths:
      - "packages/catppuccin-vsc/src/theme/**/*.ts"
      - "packages/catppuccin-vsc-storybook/**/*"

name: "Chromatic"

jobs:
  chromatic:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 22
          cache: pnpm
      - run: pnpm i --frozen-lockfile

      - name: Publish to Chromatic
        uses: chromaui/action@4c20b95e9d3209ecfdf9cd6aace6bbde71ba1694 # v13
        with:
          buildScriptName: storybook:build
          exitOnceUploaded: true
          projectToken: chpt_e3cba49738d7554
          workingDir: packages/catppuccin-vsc-storybook
