on:
  push:
    branches: [main]
    paths:
      - "packages/catppuccin-vsc/src/theme/**/*.ts"
      - "packages/catppuccin-vsc-storybook/**/*"
  pull_request:
    paths:
      - "packages/catppuccin-vsc/src/theme/**/*.ts"
      - "packages/catppuccin-vsc-storybook/**/*"

name: "Chromatic"

jobs:
  chromatic:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: corepack enable

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn

      - run: yarn install --immutable

      - run: yarn core:build

      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          buildScriptName: storybook:build
          exitOnceUploaded: true
          projectToken: chpt_e3cba49738d7554
          workingDir: packages/catppuccin-vsc-storybook
