on:
  push:
    branches: [main]
    paths:
      - ".storybook/**/*"
      - "stories/**/*"
      - "src/theme/**/*.ts"
  pull_request:
    paths:
      - ".storybook/**/*"
      - "stories/**/*"
      - "src/theme/**/*.ts"

name: "Chromatic"

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn
      - run: corepack enable
      - name: Install dependencies & build
        run: |
          yarn install --immutable
          yarn build
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          exitOnceUploaded: true
          projectToken: "chpt_e3cba49738d7554"
