on:
  push:
    branches: [main]
  pull_request:

name: Lint & Build Artifact
jobs:
  lint-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn
      - run: corepack enable
      - name: Install dependencies & build
        run: |
          yarn install --immutable
          yarn build
      - name: Lint
        run: yarn lint
      - name: Package Extension
        id: packageExtension
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          yarn: true
          pat: stub
          dryRun: true
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: catppuccin-vsc.vsix
          path: ${{ steps.packageExtension.outputs.vsixPath }}
