on:
  push:
    tags:
      - "*"

name: Publish Extension
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn
      - run: |
          yarn install --frozen-lockfile
          yarn build
      - name: Package Extension
        id: packageExtension
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          yarn: true
          pat: stub
          dryRun: true
      - name: Publish to Visual Studio Marketplace
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          yarn: true
          pat: ${{ secrets.VS_MARKETPLACE_TOKEN }}
          extensionFile: ${{ steps.packageExtension.outputs.vsixPath }}
          registryUrl: https://marketplace.visualstudio.com
      # waits on issue #51
      # - name: Publish to Open VSX Registry
      #   uses: HaaLeo/publish-vscode-extension@v1
      #   with:
      #     yarn: true
      #     pat: ${{ secrets.OPEN_VSX_TOKEN }}
      #     extensionFile: ${{ steps.packageExtension.outputs.vsixPath }}
      #     registryUrl: https://marketplace.visualstudio.com
      - name: Create GH Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: |
            *.vsix